.font-1{
	display: flex;
}


h3{
	margin-top:93px;
	margin-left: 64px;
	margin-bottom: 21px;
	font-size: 20px;
	color:000000;
	font-family: 'BPG Nino Mtavruli';
}


.font-1 {
	margin-left:64px;
}
.font-2 {
	margin-left:64px;
	display: flex;
}
p{
	margin-left:39px;
	font-size: 16px;
	color:#000000;
	font-family: 'BPG Ingiri Arial';
}
.paragraph{
	margin-top: 38px;
}
.paragraph-2{
	margin-top: 38px;
}
